  <div class="row">
    <div class="row registr">
    <div class="twelve columns">
      <h2>The Registration App</h2>
      <!-- <img src="images/plates.png" alt=""> -->
    </div>
    </div>
<br>
    <form class="" action="registration" method="post">
      <div class="row">
        <div class="six columns">
           Reg Number :
          <input type="text" class="enterReg" name="enterReg" placeholder="enter registration number" onkeydown="Check(this);" onkeyup="Check(this);">
          <script>
            function Check(me) {
              me.value = me.value.replace(g, "");
            }
          </script>
      </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <button class="addbtn" type="submit" name="addReg">Add Reg</button>
        </div>
      </div>
    </form>

    <div class="message" style="color: #c0392b; font-size: 16px; font-weight: 300; text-align: center; margin-bottom: 10px">
        <div class="row">
          <div class="twelve columns error">
            {{#if messages.error}}
            <h6> {{messages.error}} </h6>
            {{/if}}
          </div>
          <div class="success">
            {{#if messages.success}}
            <h6> {{messages.success}} </h6>
            {{/if }}

          </div>
        </div>
      </div>

<form action="/townSelect" method="post">
  <div class="six columns dropDown">
    City:
    <select onchange="submit()" class="allTowns" name="townNames">
      <option>Select a Town</option>
      <option name="townNames" value="allTown">All Towns</option>
      {{#each townSelected}}
      <option value="{{reg_start}}" name="townNames" {{selected}}>{{town_name}}</option>
      {{/each }}
    </select>
  </div>
</form>
    </div>
    <form class="" action="/reset" method="post">
    <a href="/delete" class="resetbtn" >Reset</a>
    </form>

    <div class="row displayRegNum">
      <ul>
        {{#each show}}
        <li>{{reg_numbers}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
